{% extends 'layout.html' %}

{% block content %}

{% include '_messages.html' %}

<div class="container"><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin">Painel Administrador</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/marcas">Fabricantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categoria">Categorias</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Outras opções
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/addmarca">Adicionar Fabricante</a></li>
              <li><a class="dropdown-item" href="/addcat">Adicionar Categoria</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/addproduto">Adicionar Produto</a></li>
            </ul>
          </li>
          <li class="nav-item">
           <!-- <a class="nav-link disabled">Disabled</a> -->
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center bg p-2">Adicionar Produtos</h2>
        {% from '_formsajuda.html' import render_field %}
        <form action="" method="POST" enctype="multipart/form-data">

            {{ render_field(form.name, class="form-control", placeholder= 'Nome do produto') }}
            {{ render_field(form.price, class="form-control", placeholder= 'Preço do produto') }}
            {{ render_field(form.discount, class="form-control", placeholder= 'Desconto do produto') }}
            {{ render_field(form.stock, class="form-control", placeholder= 'Quantidade do produto') }}

            <label for="marca">Adicionar uma marca </label>
            <select name="marca" id="marca" class="form-control" required>
                <option value="">Selecione uma marca</option>
                {% for marca in marcas %}
                <option value="{{marca.id}}">{{marca.name}}</option>
                {% endfor %}
            </select>            

            <label for="categoria">Adicionar uma categoria </label>
            <select name="categoria" id="categoria" class="form-control" required>
                <option value="">Selecione uma categoria</option>
                {% for categoria in categorias %}
                <option value="{{categoria.id}}">{{categoria.name}}</option>
                {% endfor %}
            </select>

            {{ render_field(form.colors, class="form-control", placeholder= 'Cor do produto') }}
            {{ render_field(form.discription, class="form-control", placeholder= 'Descrição do produto', rows='10') }}

            <div class="container">
                <div class="row">
                    <div class="clo-md-4">{{ render_field(form.img_1, class="form-control") }}</div>
                    <div class="clo-md-4">{{ render_field(form.img_2, class="form-control") }}</div>
                    <div class="clo-md-4">{{ render_field(form.img_3, class="form-control") }}</div>
                </div>
            </div>
            <button type="submit" class="btn bg-primary btn-success mt-4">Salvar Produto</button>
            <a class="btn btn-danger mt-4"  href="/admin">Cancelar</a>
    
    
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
</div>

{% endblock content %}